@CHARSET "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    font: 16px/2em Lato, serif;
    margin: 100px auto;
    max-width: 400px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}

.caja_principal { 
    margin-top: 100px; 
    color: #5d5d5d; 
    background: #f2f2f2; 
    padding: 26px; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    margin-right: 10px; 
    margin-left: 10px; 
} 

.caja_small {
    margin: 0 auto;
    width: 50%;
}

.columna_caja_principal{ 
    color: #5d5d5d; 
    background: #f2f2f2; 
    padding: 26px; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    margin-right: 10px; 
    margin-left: 10px; 
}

.columna_caja_principal-ancha{ 
    color: #5d5d5d; 
    background: #f2f2f2; 
    padding: 26px; 
    border-radius: 10px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    margin-right: 10px; 
    margin-left: 10px; 
}